<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
	<appSettings>
		<add key="client_id" value="your_client_id"/>
		<add key="client_secret" value="your_client_secret"/>
		<add key="secret_token" value="your_secret_token"/>
	</appSettings>
</configuration>
